<mat-toolbar color="primary">
  Login
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<p>{{ user | json }}</p>
<form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()" >
  <mat-dialog-content>
    <p>
      <mat-form-field>
        <input #username="ngModel" [(ngModel)]="user.username" matInput name="username" placeholder="Username"
               required type="text">
        <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input #password="ngModel" [(ngModel)]="user.password" matInput name="password" placeholder="Password"
               required type="password">
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="user.remember" name="remember">Remember Me</mat-checkbox>
    </p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button [disabled]="loginForm.form.invalid" class="background-primary text-floral-white" mat-button type="submit">
      Login
    </button>
  </mat-dialog-actions>
</form>
