<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="fa fa-phone"></i>: +852 1234 5678<br>
          <i class="fa fa-fax"></i>: +852 8765 4321<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
        <p></p>
        <div>
          <a href="tel:+85212345678" mat-raised-button><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a href="mailto:confusion@food.net" mat-raised-button><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Map of our Location</h4>
      </div>
    </div>
  </div>

  <div class="form-size" fxFlex fxFlexOffset="20px">
    <h3>Send us your Feedback</h3>
    <form #fform="ngForm" (ngSubmit)="onSubmit()" [@expand] [@visibility]="visibility" [formGroup]="feedbackForm"
          novalidate>
      <p>
        <mat-form-field class="half-width">
          <input formControlName="firstname" matInput placeholder="First Name" required type="text">
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input formControlName="lastname" matInput placeholder="Last Name" required type="text">
          <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input formControlName="telnum" matInput pattern="[0-9]*" placeholder="Tel. Number" required type="tel">
          <mat-error *ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input email formControlName="email" matInput placeholder="Email" required type="email">
          <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
        </mat-form-field>
      </p>
      <table class="form-size">
        <td>
          <mat-slide-toggle formControlName="agree">May we contact you?</mat-slide-toggle>
        </td>
        <td>
          <mat-select formControlName="contacttype" placeholder="How?">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ ctype }}
            </mat-option>
          </mat-select>
        </td>
      </table>
      <p>
        <mat-form-field class="full-width">
          <textarea formControlName="message" matInput placeholder="Your Feedback" rows=12></textarea>
        </mat-form-field>
      </p>
      <button [disabled]="feedbackForm.invalid" class="background-primary text-floral-white" mat-button type="submit">
        Submit
      </button>
    </form>
    <div [@visibility]="visibilityOfSniper" [hidden]="errMess">
      <mat-spinner></mat-spinner>
      <h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="feedback" [@visibility]="visibilitySubmit">
      <h3>Your Submission</h3>
      <p>"First Name  {{feedback.firstname}}"</p>
      <p>"Last Name {{feedback.lastname}}"</p>
      <p>"Tel. Number {{feedback.telnum}}"</p>
      <p>"Email {{feedback.email}}"</p>
      <p>"Contact You ?:{{feedback.agree}}"</p>
      <p>"How ?:{{feedback.contacttype}}"</p>
      <p>"Feedback :{{feedback.message}}"</p>
    </div>
  </div>
</div>
