<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>

  <div fxFlex >
    <mat-grid-list cols="2" rowHeight="200px" [@expand]>
        <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]" appHighlight>
        <img alt={{dish.name}} height="200px" src="{{ BaseURL + dish.image }}">
        <mat-grid-tile-footer>
          <h1>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="errMess" fxFlex>
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
  <div [hidden]="dishes || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>
</div>

