<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div *ngIf="dish" fxFlex="40" [@visibility]="visibility"  [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img alt={{dish.name}} mat-card-image src="{{BaseURL + dish.image}}">
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/dishdetail', prev]" mat-button><span class="fa fa-chevron-left fa-lg"></span></button>
        <button (click)="goBack()" mat-raised-button>BACK</button>
        <button mat-raised-button>LIKE</button>
        <button mat-raised-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button [routerLink]="['/dishdetail', next]" mat-button><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="dish" fxFlex="40" [@visibility]="visibility"  [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Comment</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-list-item *ngFor="let di of dish.comments">
        <p>{{di.comment}}</p>
        <p>{{di.rating}} Stars</p>
        <p>--<span>{{di.author}}</span> {{di.date | date}}</p>
      </mat-list-item>
    </mat-card>
    <hr>
    <mat-card class="full-width">
      <form #commentform="ngForm" (ngSubmit)="onSubmit()" [formGroup]="formComments" novalidate>
        <p>
          <mat-form-field class="full-width">
            <input formControlName="author" matInput placeholder="Name" required type="text">
          </mat-form-field>
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
        </p>
        <p>
          <mat-slider formControlName="rating" max="5" min="0" thumbLabel tickInterval="1"></mat-slider>
        </p>
        <p>
          <mat-form-field class="full-width">
            <textarea formControlName="comment" required matInput placeholder="Your comment" rows=10></textarea>
            <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
          </mat-form-field>
        </p>
        <button [disabled]="formComments.invalid" class="background-primary text-floral-white" mat-button type="submit">
          Submit
        </button>
      </form>
    </mat-card>

  </div>

</div>

