<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

  <mat-card *ngIf="dish" fxFlex  [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{dish.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img alt={{dish.name}} mat-card-image src="{{BaseURL + dish.image}}">
    <mat-card-content>
      <p>{{dish.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="promotion" fxFlex  [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>
        <h3>{{promotion.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img alt={{promotion.name}} mat-card-image src="{{BaseURL + promotion.image}}">
    <mat-card-content>
      <p>{{promotion.description}}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex=""  [@expand]>
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{leader.name}}</mat-card-title>
    </mat-card-header>
    <img alt="{{leader.name}}" mat-card-image src="{{BaseURL + leader.image}}">
    <mat-card-content>
      <p>{{leader.designation}}</p>
      <p>{{leader.description}}</p>
    </mat-card-content>
  </mat-card>

</div>
